<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.lehigh.cse.paclab.carbot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:name="edu.lehigh.cse.paclab.carbot.CarbotApplication" >
        <activity
            android:name=".CarbotActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

     	<activity android:name=".BallLearnActivity" android:screenOrientation="landscape">
     	</activity>
     	<activity android:name=".BallFindActivity" android:screenOrientation="landscape">
     	</activity>
        
        
        <activity android:name="edu.lehigh.cse.paclab.prelims.FaceCaptureActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.TalkBackActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.VoiceRecognizerActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.BTFindDeviceActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.BlueToothActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.TouchDrawActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.OnOffControllerActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.CameraPreviewActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.RCReceiverActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.RCSenderActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.BTZapActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.StreamCaptureActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.AlarmLaunchActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.WifiClientActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.WifiServerActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.JoystickActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.WalkablePathActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.DriveTheBotActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.CalibrationActivity" android:screenOrientation="portrait">
        </activity>
		<activity android:name="edu.lehigh.cse.paclab.prelims.VisionActivity" android:screenOrientation="landscape">
		</activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.DemosActivity" android:screenOrientation="portrait" >
        </activity>
		
		<receiver android:name="edu.lehigh.cse.paclab.prelims.AlarmReceiver" >
        </receiver>
        <receiver android:name="edu.lehigh.cse.paclab.prelims.AlarmStopMovingReceiver" >
        </receiver>

        <service android:name="edu.lehigh.cse.paclab.prelims.ArduinoService" >
        </service>

    </application>

</manifest>