<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.lehigh.cse.paclab.carbot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".CarbotActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.FaceCaptureActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.TalkBackActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.VoiceRecognizerActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.BTFindDeviceActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.BlueToothActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.TouchDrawActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.OnOffControllerActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.CameraPreviewActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.RCReceiverActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.RCSenderActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.BTZapActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.StreamCaptureActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.AlarmLaunchActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.WifiClientActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.WifiServerActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.JoystickActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.WalkablePathActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.DriveTheBotActivity" >
        </activity>
        <activity android:name="edu.lehigh.cse.paclab.prelims.CalibrationActivity" >
        </activity>

        <receiver android:name="edu.lehigh.cse.paclab.prelims.AlarmReceiver" >
        </receiver>
        <receiver android:name="edu.lehigh.cse.paclab.prelims.AlarmStopMovingReceiver" >
        </receiver>

        <service android:name="edu.lehigh.cse.paclab.prelims.ArduinoService" >
        </service>

        <activity android:name="edu.lehigh.cse.paclab.prelims.DemosActivity" >
        </activity>
    </application>

</manifest>