<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.lehigh.cse.paclab.carbot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="Carbot"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

     	<activity android:name=".support.LearnColor" android:screenOrientation="landscape"></activity>
     	<activity android:name="FindBalloonBot" android:screenOrientation="landscape"></activity>
        <activity android:name=".support.BTFindDeviceActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="Chatterbox" android:screenOrientation="portrait" ></activity>
        <activity android:name="TetheredBot" android:screenOrientation="portrait"></activity>
        <activity android:name="RemoteControlBot" android:screenOrientation="portrait"></activity>
        <activity android:name="DrawToControlBot" android:screenOrientation="portrait"></activity>
        <activity android:name="Configure" android:screenOrientation="portrait"></activity>
        <activity android:name=".support.SnapPhoto" android:screenOrientation="landscape" ></activity>
        <activity android:name="DrawToControlPhone" android:screenOrientation="portrait" ></activity>
        <activity android:name="FindBalloonPhone" android:screenOrientation="portrait" ></activity>
        <activity android:name="RemoteControlPhone" android:screenOrientation="portrait" ></activity>
        
        <receiver android:name=".support.AlarmDanceReceiver"></receiver>
        <receiver android:name=".support.AlarmStopMovingReceiver"></receiver>
        <receiver android:name=".support.AlarmLookAgainReceiver"></receiver>
        <receiver android:name=".support.AlarmSnapPhotoReceiver"></receiver>
        
    </application>
</manifest>